@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
body {
  margin: 0;
  background: #fff;
}

a {
  text-decoration: none;
  color: #880e4f;
}
a:hover {
  color: #d81b60;
  text-decoration: none;
}

li {
  list-style: none;
}

.main {
  padding: 1em;
}

.row_mn_main li {
  padding: 0.5em;
  border: 1px solid #eaeaea;
  margin-bottom: 0.5em;
}

.nvb_main_logo {
  background-image: url(/img/lg_light.png);
  width: 155px;
  background-size: 100%;
  height: 37px;
  background-repeat: no-repeat;
}

.navcolor_main {
  background: #fbfbfb;
}

.banner_welcome {
  background: #880e4f;
  color: #ffffff;
  padding: 3em 2em;
  color: #ffffff;
  background: linear-gradient(rgba(136, 14, 79, 0.5), rgba(136, 14, 79, 0.5)), url(https://cdn.pixabay.com/photo/2015/05/15/14/38/computer-768608_960_720.jpg);
  /* Copyright https://pixabay.com/es/photos/equipo-ordenador-port%C3%A1til-tecnolog%C3%ADa-768608/ */
  background-position: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.pb_cont {
  display: flex;
}
.pb_cont img {
  width: 64px;
  height: 64px;
  display: inline-block;
}
.pb_cont div {
  align-items: center;
}

.pb_data h6 {
  margin: 0;
  color: #d81b60;
}
.pb_data i {
  font-size: 18px;
}
.pb_data .sm_user {
  font-size: 14px;
}
.pb_data .sm_desc {
  font-size: 12px;
}

.flag_rpl {
  align-items: center;
  padding: 5px 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.flag_rpl span {
  font-weight: bold;
}
.flag_rpl .flag_rpl_sub {
  font-weight: normal;
  font-size: 12px;
}

.navbar_main {
  border-bottom: 3px solid #880e4f;
}
.navbar_main .nav-link {
  color: #d81b60 !important;
}

.banner_sm {
  color: #d81b60;
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 1px solid #d81b60;
  margin-bottom: 1em;
  padding: 0.5em;
}

.flag_green {
  background: #3c9650;
  border: 1px solid #256b34;
}

.flag_yellow {
  background: #b5b714;
  border: 1px solid #809821;
}

.flag_background {
  background: #d81b60;
  border-color: #880e4f;
}
.flag_background:hover {
  box-shadow: 0 0 0 0.2rem rgba(136, 14, 79, 0.2);
  background: #d81b60;
  border-color: #880e4f;
}
.flag_background:active, .flag_background:focus {
  background: #d81b60 !important;
  border-color: #880e4f;
  box-shadow: 0 0 0 0.2rem rgba(136, 14, 79, 0.2);
}

.category_cont {
  margin-bottom: 1em;
  padding: 1em 0 1em 0;
  transition: 0.2s;
}
.category_cont:hover {
  cursor: pointer;
  background: #eaeaea;
}

.card_icon {
  text-align: center;
}
.card_icon li {
  font-size: 8px;
}
.card_icon i {
  font-size: 2.5rem;
  padding: 0.3em;
  text-align: center;
  background: #880e4f;
  color: #ffffff;
}
.card_icon span {
  display: block;
  margin-top: 5px;
  color: #880e4f;
  text-align: center;
}

.sec_footer {
  bottom: 0;
  font-size: 14px;
  width: 100%;
  margin-top: 0.5em;
  color: #ffffff;
  padding: 1.5em;
  background: #202124;
}

@media (max-width: 575.98px) {
  body {
    font-size: 13px;
  }

  .pb_data h6 {
    margin: 0;
    font-size: 13px;
    color: #d81b60;
  }
  .pb_data span {
    font-size: 12px;
  }

  .flag_rpl {
    display: none;
  }

  .main {
    padding: 1em 0.5em;
  }

  .banner_welcome {
    padding: 0.5em 0;
    font-size: 13px;
  }
  .banner_welcome h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 767.98px) {
  .pb_cont img {
    width: 48px;
    height: 48px;
    display: inline-block;
  }

  .banner_sm {
    font-size: 0.9rem;
  }

  .banner_welcome {
    background-size: auto;
  }

  .sm_desc span {
    display: none;
  }

  .card_icon {
    text-align: center;
  }
  .card_icon li {
    font-size: 8px;
  }
  .card_icon i {
    font-size: 2.2rem;
    padding: 0.2em;
    text-align: center;
    background: #880e4f;
    color: #ffffff;
  }
  .card_icon span {
    display: block;
    margin-top: 5px;
    color: #880e4f;
    text-align: center;
  }
}
@media (max-width: 991.98px) {
  .nav_li_main a {
    padding: 0.5rem 0;
  }

  .card_icon {
    text-align: center;
  }
  .card_icon li {
    font-size: 8px;
  }
  .card_icon i {
    font-size: 2.2rem;
    padding: 0.2em;
    text-align: center;
    background: #880e4f;
    color: #ffffff;
  }
  .card_icon span {
    display: block;
    font-size: 13px;
    margin-top: 5px;
    color: #880e4f;
    text-align: center;
  }
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.btn2{
  margin-right: 5px;
}

/*# sourceMappingURL=styles.css.map */
