.content_contact{
    background-color: $bg_color;
    color: $text_color;
    text-align: left;
    height: 3em;
    padding-top: 0.45em;
}

.form_content_contact{
    background-color: $bg_light_select;
    padding: 0.2em;
    margin-bottom: 10px;
}

.form_text_label{
    color: $bg_dark;
}

.label_contact{
    color: $bg_dark;
    margin-top: 12px;
}

.map_contact{
    width: 100%;
    height: 300px;
}

.label_info_contact{
    font-size: 0.9em;
}