$bg_color: #880e4f;
$text_color: #ffffff;
$bgpag_color: #fbfbfb;
$text_high: #d81b60;
$bgpag_ligh: #fff;
$bg_dark: #202124;
$bg_light: #f8f9fa;
$bg_light_select: #eaeaea;

body {
  margin: 0;
  background: $bgpag_ligh;
}

a {
  text-decoration: none;
  color: $bg_color;
  &:hover {
    color: $text_high;
    text-decoration: none;
  }
}

li {
  list-style: none;
}

.main {
  padding: 1em;
}

.row_mn_main li {
  padding: 0.5em;
  border: 1px solid #eaeaea;
  margin-bottom: 0.5em;
}

.nvb_main_logo {
  background-image: url(/img/lg_light.png);
  width: 155px;
  background-size: 100%;
  height: 37px;
  background-repeat: no-repeat;
}

.navcolor_main {
  background: $bgpag_color;
}

.banner_welcome {
  background: $bg_color;
  color: $text_color;
  padding: 3em 2em;
  color: #ffffff;
  background: linear-gradient(rgb($bg_color, 0.5), rgba($bg_color, 0.5)),
    url(https://cdn.pixabay.com/photo/2015/05/15/14/38/computer-768608_960_720.jpg);
  /* Copyright https://pixabay.com/es/photos/equipo-ordenador-port%C3%A1til-tecnolog%C3%ADa-768608/ */
  background-position: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.pb_cont {
  display: flex;
  img {
    width: 64px;
    height: 64px;
    display: inline-block;
  }
  div {
    align-items: center;
  }
}

.pb_data {
  h6 {
    margin: 0;
    color: $text_high;
  }
  i {
    font-size: 18px;
  }
  .sm_user {
    font-size: 14px;
  }
  .sm_desc {
    font-size: 12px;
  }
}

.flag_rpl {
  align-items: center;
  padding: 5px 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  span {
    font-weight: bold;
  }
  .flag_rpl_sub {
    font-weight: normal;
    font-size: 12px;
  }
}

.navbar_main {
  border-bottom: 3px solid $bg_color;
  .nav-link {
    color: $text_high !important;
  }
}

.banner_sm {
  color: $text_high;
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 1px solid $text_high;
  margin-bottom: 1em;
  padding: 0.5em;
}

.flag_green {
  background: #3c9650;
  border: 1px solid #256b34;
}
.flag_yellow {
  background: #b5b714;
  border: 1px solid #809821;
}
.flag_background {
  background: $text_high;
  border-color: $bg_color;
  &:hover{
    box-shadow: 0 0 0 0.2rem rgba($bg_color,.2);
    background: $text_high;
    border-color: $bg_color;
  }
  &:active, &:focus{
    background: $text_high!important;
    border-color: $bg_color;
    box-shadow: 0 0 0 0.2rem rgba($bg_color,.2);
  }
}
.category_cont {
  margin-bottom: 1em;
  padding: 1em 0 1em 0;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    background: $bg_light_select;
  }
}
$category_bgs: #9c27b0, #673ab7, #4caf50, #f44336;

.card_icon {
  text-align: center;
  li {
    font-size: 8px;
  }
  i {
    font-size: 2.5rem;
    padding: 0.3em;
    text-align: center;
    background: $bg_color;
    color: $text_color;
  }
  span {
    display: block;
    margin-top: 5px;
    color: $bg_color;
    text-align: center;
  }
}

.sec_footer {
  bottom: 0;
  font-size: 14px;
  width: 100%;
  margin-top: 0.5em;
  color: $text_color;
  padding: 1.5em;
  background: $bg_dark;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  body {
    font-size: 13px;
  }
  .pb_data {
    h6 {
      margin: 0;
      font-size: 13px;
      color: $text_high;
    }
    span {
      font-size: 12px;
    }
  }
  .flag_rpl {
    display: none;
  }
  .main {
    padding: 1em 0.5em;
  }
  .banner_welcome {
    padding: 0.5em 0;
    font-size: 13px;
    h2 {
      font-size: 1.5rem;
    }
  }
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .pb_cont {
    img {
      width: 48px;
      height: 48px;
      display: inline-block;
    }
  }

  .banner_sm {
    font-size: 0.9rem;
  }

  .banner_welcome {
    background-size: auto;
  }

  .sm_desc {
    span {
      display: none;
    }
  }
  .card_icon {
    text-align: center;
    li {
      font-size: 8px;
    }
    i {
      font-size: 2.2rem;
      padding: 0.2em;
      text-align: center;
      background: $bg_color;
      color: $text_color;
    }
    span {
      display: block;
      margin-top: 5px;
      color: $bg_color;
      text-align: center;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .nav_li_main a{
    padding: .5rem 0;
  }
  .card_icon {
    text-align: center;
    li {
      font-size: 8px;
    }

    i {
      font-size: 2.2rem;
      padding: 0.2em;
      text-align: center;
      background: $bg_color;
      color: $text_color;
    }
    span {
      display: block;
      font-size: 13px;
      margin-top: 5px;
      color: $bg_color;
      text-align: center;
    }
  }
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

@import "./fonts.scss";
@import "./developer.scss";