$bg_color: #880E4F;
$text_color: #FFFFFF;
$bgpag_color: #fbfbfb;
$text_high: #d81b60;
$bg_dark: #212121;
body{
    margin: 0;
    background: $bgpag_color;
}

li{
    list-style:none;
}

.banner_welcome{
    background: $bg_color;
    color: $text_color;
    padding: 3em 2em;
    color: #FFFFFF;
    padding: 3em 2em;
    background: linear-gradient(rgb($bg_color,.5), rgba($bg_color,.5)), url(https://cdn.pixabay.com/photo/2015/05/15/14/38/computer-768608_960_720.jpg);
    /* Copyright https://pixabay.com/es/photos/equipo-ordenador-port%C3%A1til-tecnolog%C3%ADa-768608/ */
    background-position: right;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.pb_cont{
    img{
        width: 64px;
        height: 64px;
        display:inline-block;
    }
    div{
        display: inline-block;
        vertical-align: middle;
    }
}

.pb_data{
    margin-left: 0.5em;
    h6{
        margin: 0;
        color: $text_high;
    }
    i{
        font-size: 18px;
    }
    .sm_user{
        font-size: 14px;
    }
    .sm_desc{
        font-size: 12px;
    }
}

.main{
    padding: 1em;
}

.row_mn_main li{
    padding: 0.5em;
    border: 1px solid #eaeaea;
    margin-bottom: 0.5em;
}

.flag_rpl{
    float: right;
    padding: 5px 20px;
    color: #FFF;
    font-weight: bold;
    span{
        font-weight: normal;
    }
}

.navbar_main{
    border-bottom: 3px solid $bg_color;
    .nav-link{
        color: $text_high!important;
    }
}

.flag_green{background: #3c9650;border: 1px solid #256b34;}
.flag_yellow{background: #b5b714;border: 1px solid #809821;}
.flag_background{background: $text_high;border-color:$bg_color;}

.card_icon{
    i{
        font-size: 15rem;
    }
}

@import './fonts.scss';