$bg_color: #880E4F;
$text_color: #FFFFFF;
$bgpag_color: #fbfbfb;
$text_high: #d81b60;
$bg_dark: #202124;
$bg_light: #f8f9fa;
body{
    margin: 0;
    background: $bgpag_color;
}

li{
    list-style:none;
}

.nvb_main_logo{
    background-image: url(/img/lg_light.png);
    width: 155px;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 37px;
}

.navcolor_main{
    background: $bg_light;
}

.banner_welcome{
    background: $bg_color;
    color: $text_color;
    padding: 3em 2em;
    color: #FFFFFF;
    padding: 3em 2em;
    background: linear-gradient(rgb($bg_color,.5), rgba($bg_color,.5)), url(https://cdn.pixabay.com/photo/2015/05/15/14/38/computer-768608_960_720.jpg);
    /* Copyright https://pixabay.com/es/photos/equipo-ordenador-port%C3%A1til-tecnolog%C3%ADa-768608/ */
    background-position: right;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.pb_cont{
    img{
        width: 64px;
        height: 64px;
        display:inline-block;
    }
    div{
        display: inline-block;
        vertical-align: middle;
    }
}

.pb_data{
    margin-left: 0.5em;
    h6{
        margin: 0;
        color: $text_high;
    }
    i{
        font-size: 18px;
    }
    .sm_user{
        font-size: 14px;
    }
    .sm_desc{
        font-size: 12px;
    }
}

.main{
    padding: 1em;
}

.row_mn_main li{
    padding: 0.5em;
    border: 1px solid #eaeaea;
    margin-bottom: 0.5em;
}

.flag_rpl{
    float: right;
    padding: 5px 20px;
    color: #FFF;
    font-weight: bold;
    span{
        font-weight: normal;
    }
}

.navbar_main{
    border-bottom: 3px solid $bg_color;
    .nav-link{
        color: $text_high!important;
    }
}

.flag_green{background: #3c9650;border: 1px solid #256b34;}
.flag_yellow{background: #b5b714;border: 1px solid #809821;}
.flag_background{background: $text_high;border-color:$bg_color;}

.card_icon{
    font-weight: bold;
    li{
        font-size:8px
    }
    i{
        font-size: 4rem;
        padding: 0.5rem;
        background: $bg_color;
        color: $text_color;
    }
    span{
        display: block;
        margin-top: 5px;
        color: $bg_color;
        text-align: center;
    }
}

.sec_footer{
    bottom: 0;
    font-size: 14px;
    width: 100%;
    margin-top:0.5em;
    color: $text_color;
    padding: 1.5em;
    background: $bg_dark;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .pb_cont{
        img{
            width: 48px;
            height: 48px;
            display:inline-block;
        }
    }

    .banner_welcome{
        background-size: auto;
    }

    .sm_desc{
        span{
            display:none;
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .card_icon{
        font-weight: bold;
        li{
            font-size:8px
        }
        i{
            font-size: 4rem;
            padding: 0.3em;
            background: $bg_color;
            color: $text_color;
        }
        span{
            display: block;
            margin-top: 5px;
            color: $bg_color;
            text-align: center;
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

@import './fonts.scss';